.filter-container{
    display: inline-block;
}
.filter{
    display: inline-block;
}

.dropbtn:hover, .dropbtn:focus, .add:hover{ 
    background-color: #2980B9;
}

.add:focus{
    outline: none;
}
.dropbtn option{
    background-color: #f1f1f1;
    color: black;
  }
  
.add{
    padding: 0;
    background-color: #3498DB;
    width: 40px;
    height: 40px;
    border: none;
    font-size: 23px;
    cursor: pointer;
    color: white;
    border-radius: 50%;
}
#alltags{
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  height: auto;
  margin-bottom: 20px;
}
.tag{
   background-color:#efeff0;
   padding: 8px 16px;
   font-size: 20px;
   border-radius: 16px;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  .dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown a:hover {background-color: #ddd;}
  
  .show {display: block;}

  .close{
    display: none;
  }