*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}
@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Assistant&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lemonada&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sriracha&display=swap');

label{
    margin: 0 auto;
    color: black;
    font-family: sans-serif;
}

nav{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav input[type=text]{
    background-color: white;
    background-image: url(../images/search.png);
    background-size: contain;
    background-position: 0px 3px;
    background-repeat: no-repeat;
    padding-left: 40px;
}

.homepage{
    align-self: flex-start;
}
a img{
    width: 50px;
    height: auto;
}

a h1{
    display: inline-block;
}
nav{
    position: fixed;
    z-index: 1;
}

nav a{
    font-size: 200px;
    align-self: flex-start;
    font-weight: 800;
    text-decoration: none;
    font-size: large;
    color: white;
}

main{
    display: flex;
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../images/login2.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.intro{
    font-family: 'Sriracha', cursive;
    /* font-family: 'Lemonada', cursive;
    font-family: 'Assistant', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Kaushan Script', cursive; */
    position: absolute;
    top: 30%;
    left: 20%;
    max-width: 40%;
    word-wrap: normal;
}
.intro h1{
    font-size: 3.8rem;
}

.intro p{
    font-size: 1.8rem;
}

.login-info{
    position: absolute;
    right: 15%;
    top: 50%;
    transform: translateY(-50%);
}

form{
    position: relative;
    display: flex;
    flex-direction: column;
    background: white;
    border-radius: 8px;
    width: 300px;
    max-width: 300px;
}
form h1{
    font-weight: lighter;
    padding: 10px 50px 0px 10px;
    color: black;
    font-size: 20px;
}
span{
    color: gray;
    opacity: 0.5;
}
input[type=text], input[type=password], input[type=number], input[type=date]{
    padding: 12px 20px;
    color: black;
    /* border-radius: 4px; */
}

input[type="date"]::-webkit-inner-spin-button, input[type="number"]::-webkit-inner-spin-button{ 
    display: none;
    font-family: 'Times New Roman', Times, serif;
}
#Month, #Day{
    width: 50px;
}

#Year{
    width: 75px;
}

.dates{
    display: flex;
    flex-direction: column;
}

.date{
    color: black;
    text-transform: uppercase;
}
.login-info form div{
    margin: 0 auto;
    display: flex;
    padding: 10px;
}

#birthday{
    align-self: flex-start;
    transform: translate(-75px, 5px);
}

/* textbox for category title some text */
/* 
.submit{
    display: inline-block;
    padding: 0.3 em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius: 2em;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: white;
    background-color: #4eb5f1;
    text-align: center;
}

.submit:hover{
    background-color: #4095c6;
} */
.submit{
    align-self: flex-end;
    width: 100px;
    height: 30px;
    transform: translate(-10px, -5px);
    background: rgb(3, 121, 212); 
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    transition: .5s;
    }

.submit:hover{
    background: #B9DFFF;
    color: #fff;
    border: 1px solid #eee;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #eee;
    text-shadow:none;
    }
    
.login-form{
    margin-bottom: 10px;
}
/* input[type=text], select, input[type=password]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  } */