@import url('https://fonts.googleapis.com/css?family=Fjalla+One&display=swap');

body{
    width: 100%;
    border:none;
    margin:0;
    background-color:lightgrey;
}

nav {
    position:fixed;
    width: 100%;
    height: 40px;
    background-color:darkslateblue;
    color:white;
    display:flex;
    flex:1 auto auto 2 2;
    flex-direction:row;
    z-index:5;
    vertical-align:center;
    align-items:stretch;
}

.logotext {
    text-decoration:none;
    color:white;
    font-family:'Fjalla One', sans-serif;
    font-size:30px;
    line-height:40px;
    flex: 1 1 auto;
}

.search {
    flex: 1 1 auto;
    cursor:not-allowed;
}

.search input, .search button{
    margin:0;
    border:none;
    padding:5px;
    cursor:not-allowed;
}

.search input{
    background-color:transparent;
    color:white;
    border-radius:10px;
    border: 3px solid white;
}
.search button {
    background-color:transparent;
    color:white;
}

.search button:hover {
    background-color:#FFFFFF22;
}

nav img, iframe {
    max-height:35px;
    width:35px;
    height:35px;
    fill:white;
    padding-left:10px
}

iframe {
    fill:white;
}

.prfbtn {
    position: relative;
    max-height:35px;
    min-width:35px;
    border:3px solid white;
    text-align:center;
    line-height:35px;
    color:white;
    border-radius:50%;
    background-color:transparent;
    float:right;
}
.favbtn{
    position: absolute;
}

.prfbtn:focus{
    outline: none;
}
.prfbtn:hover {
    background-color:#FFFFFF22;
}

.main {
    padding-top:40px;
    display:flex;
    width: 100%;
    align-items:center;
    flex-direction:column;
}

.category {
    width: 90%;
    max-height: 450px;
    border-radius:20px;
    background-color:white;
    margin:20px;
}

.cat-content {
    display:flex;
    flex-direction:row;
    align-items:stretch;
    overflow:auto;
}

.page-follow {
    position:fixed;
    bottom:10px;
    right:20px;
    height:50px;
    font-size:18pt;
    color:white;
    background-color:black;
    border:none;
    border-radius:25px;
    padding: 10px 30px;
}

.profile{
    width: 100%;
    background-repeat:no-repeat;
    background-size:100%;
    background-color:green;
    color:white;
    height:400px;
    margin-bottom:70px;
}

#kiara {
    background-image:url("images/Kiara-profile-background.jpeg");
    background-position-y:-400px
}

#kyle {
    background-image:url("images/Kyle-profile-background2.jpg");
    transform: rotate(90);
}

#del-mar {
    background-image:url("images/del-mar-background.jpg");
    background-position-y:-250px;
    height:300px;
    margin-bottom:20px;
}

.profile img {
    border-radius:150px;
    border:solid white 5px;
    width:300px;
    height:300px;
    max-height:300px;
    position:absolute;
    top:200px;
    left:40px;
    z-index:1;
}

.prfimg {
    border-radius:150px;
    border:solid white 5px;
    width:300px;
    height:300px;
    max-height:300px;
    position:absolute;
    top:200px;
    left:40px;
    z-index:1;
}

.info{
    position:absolute;
    top:400px;
    left:270px;
    background-color:#333333;
    width:180px;
    padding:5px 30px 5px 100px;
    border-radius:15px;
    z-index:0;
    color:white
}

.info.loc{
    padding:5px 30px 5px 30px;
    max-width:400px;
    min-width:300px;
    top:200px;
    left:50px;
}

.info.loc h1{
    font-size:50pt;
}

.info h1{
    margin:0;
}
.info small{
    font-size:14pt;
}
.info h3{
    margin:0;
}

.category h1{
    margin: 10px 0 0 30px;
}

.postcard {
    background-color:darkslateblue;
    max-width:400px;
    max-height:400px;
    min-width:400px;
    border-radius: 30px;
    margin: 20px;
    overflow:hidden;
    color:white;
    margin-bottom:15px;
}

.postcard:hover{
    box-shadow:5px 10px #000000AA;
}

.postcard h2, .postcard h3, .postcard h4 {
    text-align:center;
    margin:0;

}

.postimg {
    position: relative;
    width:400px;
    height:200px;
    overflow:hidden;
    display:flex;
}

.postimg.duo img {
    width:200px;
    height:200px;
    max-width:200px;
    margin-top: 0px
}

.postimg img {
    width:400px;
    height:auto;
    margin-top: -75px
}

.hide {
    display:none;
}


.postcard h5{
    padding-left: 20px;
    margin: 0;
}

.backmodal {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: black;
    opacity:60%;
    z-index:3;
}
.modal {
    position:fixed;
    top:60px;
    transform:translate(-50%,0%);
    left:50%;
    background-color:white;
    border-radius:15px;
    overflow-y:auto;
    overflow-x:hidden;
    max-width:600px;
    max-height:85%;
    min-width:250px;
    padding-bottom:20px;
    z-index:3;
}

.modal h1,h2,h3,h4 {
    margin:0;
    padding:0;
    padding-left:10px;
}

.modal .like-bar {
    width: 100%;
    height:20px;
    display:flex;
    flex-direction:row;
    color:white;
    font-weight:bold;
}

.recommend {
    background-color:mediumaquamarine;
    height:100%;
}

.unrecommend{
    background-color:mediumvioletred;
    height:100%;
}

.tabs {
    width: 100%;
    background-color:lightgrey;
}

.tabs > button {
    background-color:grey;
    border-right:3px white solid;
    margin:0;
    padding:3px;
    color:white;
    font-weight:bold;
}

.tabs > button:hover {
    background-color:#505050;
}

.tabs > button.selected {
    background-color: #404040;
}

.modal-imgs {
    display:flex;
    flex-direction:row;
    overflow:auto;
}

.modal-imgs img{
    height: 300px;
}

.modal > button {
    background-color:transparent;
    height:30px;
    width:30px;
    color:black;
    border:3px solid black;
    border-radius:50%;
}

#comments h3, #comments p, #questions h3, #questions p {
    font-size:12pt;
    margin:0;
    padding:0;
}

#comments p, #questions p {
    font-weight:normal;
}

.tabpane {
    min-height:50px;
}

.tabpane button {
    background-color:transparent;
    color:black;
    border:3px solid black;
    font-weight:bold;
}

.favorites-bar{
    z-index: 3;
    position: fixed;
    height: 100vh;
    width: 200px;
    top: 40px;
    right: -200px;
    background-color: rgba(173, 232, 255, 0.8);
}

.open{
    /* right: 0px; */
    animation: slide 1s ease-in-out forwards;
}

@keyframes slide{
    from{
        transform: translate(0px, 0px);
    }
    to{
        transform: translate(-200px, 0px);
    }
}
.gold{
    background-color: gold;
}

.prfbtn.gold:hover {
    background-color: gold;
}

.modal > button.liked{
    background-color:green;
}

.modal > button.dled {
    background-color:red;
}

.profile-card{
    background-color:darkslateblue;
    max-width:400px;
    max-height:400px;
    min-width:400px;
    border-radius: 30px;
    margin: 20px;
    overflow:hidden;
    color:white;
    margin-bottom:15px;
    text-decoration:none;
}

.profile-card > .postimg{
    max-width:250px;
    max-height:250px;
    width:200px;
    height:200px;
    overflow:hidden;
    border-radius:50%;
    z-index:2;
}

.profile-card  > .info {
    position:relative;
    margin-left:100px;
    left:0;
    top:-70px;
    margin-bottom:-40px;
    z-index:1;
}

.profile-card > h4 {
    margin-left:30px;
    padding-bottom:20px;
}

.ptr {
    cursor:pointer;
}

.zmi {
    cursor:zoom-in;
}